* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
}
/* utilitis */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.border {
  border: 2px dashed black;
}

/* header */
header {
  position: fixed;
  background-color: RGB(20, 132, 253);
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  z-index: 1;
}
.navbar {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navbar-links {
  display: none;
  align-items: center;
}
.fa-bars {
  font-size: 30px;
}
.bottom-header {
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
}
/* main */
main {
  padding-top: 100px;
}
/* cards */
.top-cards > h2 {
  color: RGB(20, 132, 253);
  text-align: center;
}
.top-bigcards > p {
  color: gray;
  margin: 30px 0;
  font-size: 20px;
}
#bottom-appstore {
  background-color: RGB(20, 132, 253);
  padding: 10px 60px;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  font-size: 20px;
}
.row {
  min-height: 500px;
  padding: 20px;
  flex-basis: calc(100% / 3);
  flex-direction: column;
}
.img-phone {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
}

.col {
  background-color: RGB(181, 221, 255);
  border-radius: 10px;
  margin-bottom: 30px;
  flex-direction: column;
  padding: 0px 30px;
  padding-top: 30px;
}
.col:first-child {
  flex-basis: calc(100% / 3 * 2);
}

.top-bigcards > h2 {
  color: RGB(20, 132, 253);
}

.bottom-cards {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: RGB(105, 127, 147);
}
.top-cards .fa-solid {
  color: RGB(20, 132, 253);
  font-size: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* strategic-planning */
.strategic-planning {
  background-color: RGB(151, 146, 227);
  min-height: 500px;
  padding: 50px 0;
}
.sp {
  min-height: 300px;
  padding: 0 20px;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.sp-top,
.sp-bottom {
  min-height: 300px;
  flex-direction: column;
  padding-bottom: 30px;
}
.img,
.text {
  min-height: 300px;
}

.bgc-w {
  background-color: white;
}

/* testimonials */
.testimonial {
  padding: 40px 20px;
  text-align: center;
}
.testimonial-titles {
  padding: 0 50px;
}
.testimonial-titles > h1 {
  padding: 30px 0;
}
.t-row {
  flex-direction: column;
}
.t-col {
  flex-direction: column;
  margin: 30px 0;
  background-color: RGB(151, 146, 227);
  min-height: 400px;
}
.t-col-img {
  flex-basis: 60%;
}
.t-col-text {
  flex-basis: 40%;
}

/* benefit */
.benefit {
  background-color: RGB(151, 146, 227);
  min-height: 600px;
  padding: 50px 0;
}
.benefit > h1 {
  color: white;
  text-align: center;
  padding: 50px 0;
}
.row-benefit {
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}
.col-benefit {
  background-color: white;
  min-height: 500px;
  width: 80%;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* about-us */
.person-description {
  flex-direction: column;
  padding-left: 20px;
  min-height: 500px;
}
.person-img {
  flex-basis: 30%;
  min-height: 150px;
}
.person-text {
  flex-basis: 70%;
  min-height: 500px;
}
/* get started */
.get-s {
  background-color: RGB(151, 146, 227);
  text-align: center;
  padding: 50px 20px;
}
.container-btm {
  width: 500px;
  margin: 0 auto;
}
/* footer */
footer {
  background-color: RGB(51, 51, 51);
  text-align: center;
  color: white;
  padding: 20px 20px;
}
footer > p {
  margin-top: 50px;
}
/* RESPONSIVE */
/* 764px */
@media screen and (min-width: 764px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    flex-basis: calc(100% / 3);
  }
  .bottom-cards {
    font-size: 20px;
  }
  .img-phone {
    max-height: 500px;
    position: relative;
    left: -50px;
  }
  /* testimonial */
  .t-col {
    flex-direction: row;
    min-height: 200px;
  }
  .t-col-img {
    flex-basis: 20%;
  }
  .t-col-text {
    flex-basis: 80%;
  }
  /* benefit */
  .row-benefit {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .col-benefit {
    width: 40%;
    padding: 10px 10px;
  }
  /* about us */
  .person-description {
    flex-direction: row-reverse;
  }
}

/* header 1200px */

@media screen and (min-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
  .navbar-links {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
  }
  li {
    padding: 0 10px;
  }
  /* cards */
  .row {
    flex-basis: calc(100% / 3 * 2);
    
  }
  .col:first-child {
    flex-direction: row;
  }
  .top-bigcards {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    align-items: flex-start;
    padding-left: 20px;
  }
  .bottom-big-cards {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .col {
    padding: 0;

  }
  .top-cards .fa-solid{
    color: RGB(20, 132, 253);
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
  }
  .img-phone {
    max-height: 300px;
  }

  .sp {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .sp-top,
  .sp-bottom {
    flex-basis: 40%;
  }
  .sp-bottom {
    position: relative;
    top: 100px;
  }
  /* benefit */
  .row-benefit {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }
  .col-benefit {
    width: 28%;
    min-height: 400px;
    padding: 10px 10px;
  }
}
